*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(72deg, #3DEB80 1%, #8956F3 99%);   

}

header{
    border: 20px;
    border-style: double;
    border-color: rgb(3, 55, 69);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 5em;
    padding: 20px;
}

legend{
    color: rgb(4, 46, 1);
    font-size: 3em;
    margin: 2em;
}


#login-button{
    border: none;
    background-color: #012831;
    padding: 5px 5px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

#logo{
    margin: 20px;
    border:10px;
    border-color: brown;
    border-radius: 15px;
    border-style:dotted;
}


.footer{
    justify-content: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 35, 35);
    font-size: 20px;
    padding: 50px;
    text-align: end;
    
    
}

#link{
    text-decoration: none;
    
}

.formulario{ 
    border: 10px;
    border-color: aqua;
    border-style: groove;
    border-radius: 30px;
    padding: 20px;
      
}

