*{
  
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
    
title{
    color: white;
    
}


.header{
    height: 800px;
    width: 1200px;
    background-image: url(imagens/home.jpg);
    background-size: cover;
}

#logo{
    margin: 20px;
    border:10px;
    border-color: brown;
    border-radius: 30px;
    border-style:dotted;
}



h1{
    font-size: 120px;
    font-family: monospace;
    color: white;
    padding: 100px;
    height: 60px;
    width: 80px;
}

.main{
    font-size: 30px;
    text-align: right;
    padding: 20px;
    background-image: url(imagens/images.jpg);
    background-size: cover; 
}


.geral{
    flex-direction: row;
   justify-content: space-between;
    background-color: gray;  
    padding: 30px;

}


.tap1{
    font-size: 40px;
    padding: 30px;
    background-image: url(imagens/Tap1.jpg);
    height: 500px;
    width: 350px;
    background-size: cover;
    border-radius: 30px;
}


.tap2{
    font-size: 40px;
    padding: 30px;
    background-image: url(imagens/Tap2.jpeg);
    height: 500px;
    width: 350px;
    background-size: cover;
    border-radius: 30px;
}


.tap3{
    font-size: 40px;
    padding: 30px;
    background-image: url(imagens/Tap3.jpeg);
    height: 500px;
    width: 350px;
    background-size: cover;
    border-radius: 30px;
}


.finish{

    font-size: 30px;
    background-color: rgb(209, 175, 242);
    padding: 50px;
    text-align: center;   
}


.finish:hover{
    opacity:1; 
}


legend{
    font-size: 30px;
    font-style: oblique;   
}


.list{ 
    padding: 2rem 4rem;  
}


.link{
    font-weight: 1000;
    font-size: 2rem;
    color: rgb(24, 1, 1);
    text-decoration: none;
    margin: 2px; 
}


.footer{
    background-color: aquamarine;
    justify-content: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 35, 35);
    font-size: 20px;
    padding: 50px;
    text-align: center;    
}