*{
  
    /*display: flex;*/
    /*flex-direction: column;*/
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    height: 800px;
    width: 1200px;
    background-image: url(imagens/home.jpg);
    background-size: cover;
}

#logo{
    margin: 20px;
    border:10px;
    border-color: brown;
    border-radius: 30px;
    border-style:dotted;
    float: right;
}



h1{
    font-size: 100px;
    font-family: monospace;
    color: white;
    padding: 80px;
    height: 60px;
    width: 80px;
}


.main{
    font-size: 30px;
    text-align: right;
    padding: 20px;
    background-image: url(imagens/images.jpg);
    background-size: cover; 
}


.geral{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    background-color: gray;  
    padding: 30px;

}


.tap1{
    font-size: 40px;
    padding: 30px;
    background-image: url(imagens/Tap1.jpg);
    height: 500px;
    width: 350px;
    background-size: cover;
    border-radius: 30px;
}


.tap2{
    font-size: 40px;
    padding: 30px;
    background-image: url(imagens/Tap2.jpeg);
    height: 500px;
    width: 350px;
    background-size: cover;
    border-radius: 30px;
}


.tap3{
    font-size: 40px;
    padding: 30px;
    background-image: url(imagens/Tap3.jpeg);
    height: 500px;
    width: 350px;
    background-size: cover;
    border-radius: 30px;
}

.footer{
    background-color: aquamarine;
    justify-content: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 35, 35);
    font-size: 20px;
    padding: 50px;
    text-align: center;    
}


legend{
    font-size: 30px;
    font-style: oblique;   
}

/*.dp-menu ul{
    list-style-type: none;
    padding: 0;
*/

.dp-menu ul{
    list-style-type: none;
    padding: 0;
    background-color: rgb(34, 41, 37);
    display: block;
   
}

.dp-menu ul li{
    display: inline-block;
}

.dp-menu ul li a{
    color: rgb(171, 231, 231);
    text-decoration: none;
    padding: 10px;
    transition: background .5s;
}

.dp-menu ul li a:hover{
    background-color: rgb(117, 243, 243);
    color: rgb(3, 14, 14);
}

/*sub-menu*/

.dp-menu ul ul{
    display: none;
    position: absolute;
}

.dp-menu ul li:hover ul{
    display: block;
    
}


.dp-menu ul ul li{
    display: block;
    padding: 10px;
}
